name: Build
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Install required packages
      run: sudo apt-get -y install agda agda-stdlib
    - name: Build
      # run: make -C agda
      run: cd agda && agda Equivalence.agda
